data/
*.pyc
*.out
*.sbatch
.ipynb_checkpoints
wandb
*.onnx
*.pth
!Flask-App/server/tr_v0_64_1e5.pth
!Flask-App/server/tr_v5_32_5e6_5e5.pth
*.pt
artifacts
/_pycache_
credintialsForDrive.json
Download_from_google.ipynb
*.zip
